.board {
    width: fit-content; 
/*     background: #e6be7b; */
    padding: 1em;
    margin: 2em auto;
}
.letters {
    width: fit-content;
    margin-left: 1em;
}
.letters span {
    margin: 1.58em;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row span {
    margin-right: .4em;
}